@if(users$ | async) {
    <div class="list-content flex-column">
    <qx-title-header title="Lista de usuarios"/>
    <div class="search flex-start">
        <i class="fas fa-magnifying-glass"></i>
        <input class="text-light" type="text" placeholder="Buscar usuario..." (input)="filteredUsers()" [(ngModel)]="searchTerm">
    </div>
    <div class="user-list">
        @for(user of filteredUsers(); track user._id) {
            <qx-user-card-settings [user]="user" (click)="detailUser(user)"/>
        }

        @if(filteredUsers().length === 0) {
            <div class="user-not-found">
                <qx-info info="No se ha encontrado ningun usuario, intenta buscar por nombre, correo, matricula o rol de usuario"/>
            </div>
        }
    </div>
</div>
}