@if(tables$ | async) {
<div class="content-page">
    <qx-title-header title="Administración de Base de Datos" />
    <div class="single-content">
        @if(backups$ | async) {
        <div class="container-target flex-column">
            <qx-title-header title="Respaldos" />
            <div class="body-target flex-column">
                @for (backup of backups(); track $index) {
                <div class="table-list flex-row">
                    <i class="fa-solid fa-database"></i>
                    <label>{{ backup }}</label>
                </div>
                }
            </div>
        </div>
        }
        <div class="container-target flex-column">
            <qx-title-header title="Tablas" />
            <div class="body-target flex-column">
                @for (table of tables(); track $index) {
                <div class="table-list flex-row">
                    <i class="fa-solid fa-table"></i>
                    <label>{{ table }}</label>
                </div>
                }
            </div>
        </div>
        <div class="content-actions flex-column">
            <qx-title-header title="Acciones" />
            <div class="body-actions flex-column">
                <qx-info-card color="primary" icon="fas fa-database" title="Hacer respaldo completo"
                    text="Realiza un respaldo completo de la base de datos" (click)="formTypeSelected('completo')" />
                <qx-info-card color="secondary" icon="fas fa-table" title="Hacer respaldo por tablas"
                    text="Realiza un respaldo por tablas de la base de datos"
                    (click)="formTypeSelected('por tablas')" />
                <qx-info-card color="success" icon="fas fa-screwdriver-wrench" title="Restaurar base de datos"
                    text="Realiza una restauración de la base de datos " (click)="formTypeSelected('restaurar')" />
                <qx-info-card color="info" icon="fas fa-screwdriver-wrench" title="Formatear base de datos"
                    text="Formatea la base de datos " (click)="formTypeSelected('formatear')" />
                <qx-info-card color="orange" icon="fas fa-file-csv" title="Exportar CSV"
                    text="Exporta la base de datos a un archivo CSV" (click)="formTypeSelected('exportar')" />
            </div>
        </div>
    </div>
</div>
}

@if(formStatus && formType === 'completo') {
<div class="content-glass"></div>
<div class="form flex-column">
    <qx-title-header title="Crear respaldo" />
    <div class="form-body flex-column">
        <qx-input type="text" styleClass="square" label="Nombre de usuario de la base de datos"
            placeholder="Ingresar el nombre de usuario" [required]="true" />
        <qx-input type="text" styleClass="square" label="Contraseña" placeholder="Ingresar la contraseña"
            [required]="true" />
    </div>
    <div class="form-footer flex-row flex-end">
        <qx-button type="label-icon" styleClass="square danger-ghost" icon="fas fa-multiply" label="Cancelar"
            (onClick)="changeFormStatus()" />
        <qx-button type="label-icon" styleClass="square success-ghost" icon="fas fa-plus" label="Crear respaldo" />
    </div>
</div>
}

@if(formStatus && formType === 'por tablas') {
<div class="content-glass"></div>
<div class="form flex-column">
    <qx-title-header title="Crear respaldo por tablas" />
    <div class="form-body flex-column">
        <qx-input type="text" styleClass="square" label="Nombre de usuario de la base de datos"
            placeholder="Ingresar el nombre de usuario" [required]="true" [(value)]="username" />
        <qx-input type="text" styleClass="square" label="Contraseña" placeholder="Ingresar la contraseña"
            [required]="true" [(value)]="password" />
    </div>
    <div class="body-target flex-column">
        @for (table of tables(); track $index) {
        <div class="table-list flex-row">
            <i class="fa-solid fa-table"></i>
            <label>{{ table }}</label>
            <input type="checkbox" [checked]="selectedTables.includes(table)"
                (change)="toggleTableSelection($event, table)" />
        </div>
        }
    </div>
    <div class="form-footer flex-row flex-end">
        <qx-button type="label-icon" styleClass="square danger-ghost" icon="fas fa-multiply" label="Cancelar"
            (onClick)="cleanForm()" />
        <qx-button type="label-icon" styleClass="square success-ghost" icon="fas fa-plus" label="Crear respaldo"
            (onClick)="backupByTables()" />
    </div>
</div>
}

@if(formStatus && formType === 'restaurar') {
<div class="content-glass"></div>
<div class="form flex-column">
    <qx-title-header title="Restaurar base de datos" />
    <div class="form-body flex-column">
        <qx-input type="text" styleClass="square" label="Nombre de usuario de la base de datos"
            placeholder="Ingresar el nombre de usuario" [required]="true" />
        <qx-input type="text" styleClass="square" label="Contraseña" placeholder="Ingresar la contraseña"
            [required]="true" />
    </div>
    <div class="form-footer flex-row flex-end">
        <qx-button type="label-icon" styleClass="square danger-ghost" icon="fas fa-multiply" label="Cancelar"
            (onClick)="changeFormStatus()" />
        <qx-button type="label-icon" styleClass="square success-ghost" icon="fas fa-plus"
            label="Restaurar base de datos" />
    </div>
</div>
}

@if(formStatus && formType === 'formatear') {
<div class="content-glass"></div>
<div class="form flex-column">
    <qx-title-header title="Formatear base de datos" />
    <div class="form-body flex-column">
        <qx-input type="text" styleClass="square" label="Nombre de usuario de la base de datos"
            placeholder="Ingresar el nombre de usuario" [required]="true" />
        <qx-input type="text" styleClass="square" label="Contraseña" placeholder="Ingresar la contraseña"
            [required]="true" />
    </div>
    <div class="form-footer flex-row flex-end">
        <qx-button type="label-icon" styleClass="square danger-ghost" icon="fas fa-multiply" label="Cancelar"
            (onClick)="changeFormStatus()" />
        <qx-button type="label-icon" styleClass="square success-ghost" icon="fas fa-plus"
            label="Formatear base de datos" />
    </div>
</div>
}