@if(areas$ | async) {
<div class="content-page">
    <qx-title-header title="Áreas y líneas de agua" />
    <div class="single-content">
        <div class="form flex-column">
            <qx-title-header title="Registrar nueva área" />
            <div class="form-input flex-column">
                <qx-info info="Registra nuevas áreas que requieran de gestión en líneas de agua o en su consumo." />
                <qx-input type="text" styleClass="square" label="Nombre de la nueva área" [required]="true"
                    [(value)]="areaForm.Nombre" />
                <qx-input type="text" styleClass="square" label="Descripción del área" [required]="true"
                    [(value)]="areaForm.Descripcion" />
                <div class="btn-options flex-end">
                    <qx-button type="label-icon" styleClass="square danger-ghost" icon="fas fa-multiply"
                        label="Cancelar" (onClick)="cancelForm()" />
                    <qx-button type="label-icon" styleClass="square success-ghost" icon="fas fa-floppy-disk"
                        label="Guardar" (onClick)="postAreas()" [disabled]="isValidAreas()" />
                </div>
            </div>
        </div>
        <div class="form flex-column">
            <qx-title-header title="Registrar nueva línea de agua" />
            <div class="form-input flex-column">
                <qx-info info="Registra nuevas líneas de agua en algun área previamente registrada." />
                <qx-input type="text" styleClass="square" label="Código o nombre" [required]="true" [(value)]="lineForm.Codigo"/>
                <qx-dropdown styleClass="square" label="Área" [options]="optionsAreas()" [(selectedValue)]="lineForm.Area"/>
                <div class="btn-options flex-end">
                    <qx-button type="label-icon" styleClass="square danger-ghost" icon="fas fa-multiply"
                        label="Cancelar" (onClick)="cancelForm()"/>
                    <qx-button type="label-icon" styleClass="square success-ghost" icon="fas fa-floppy-disk"
                        label="Guardar" (onClick)="postLine()" (onClick)="isValidLines()"/>
                </div>
            </div>
        </div>
        <div class="table flex-column">
            <div class="change-content-btn flex-row">
                <qx-button type="label" styleClass="square warning-ghost" label="Ver áreas"
                    (onClick)="changeView('areas')" />
                <qx-button type="label" styleClass="square secondary-ghost" label="Ver líneas de agua"
                    (onClick)="changeView('lineas')" />
            </div>
            @if(content === 'areas') {
            <qx-title-header title="Áreas registradas" />
            <div class="tbody flex-column">
                @for(area of areas(); track area.Id) {
                <div class="area-target flex-row flex-center">
                    <i class="fas fa-screwdriver-wrench"></i>
                    <div class="text-content flex-column">
                        <label class="text-bold">{{ area.Nombre }}</label>
                        <label class="text-light">{{ area.Descripcion }}</label>
                    </div>
                    <div class="btn flex-row">
                        <!-- <qx-button type="icon" styleClass="square info-ghost" icon="fas fa-gauge" /> -->
                        <qx-button type="icon" styleClass="square success-ghost" icon="fas fa-pen"
                            (onClick)="setFormToUpdateArea(area)" />
                        <qx-button type="icon" styleClass="square danger-ghost" icon="fas fa-ban"
                            (onClick)="deleteArea(area.Id)" />
                    </div>
                </div>
                }
            </div>
            }
            @if(content === 'lineas') {
            <qx-title-header title="Líneas de agua registradas" />
            @if(lines$ | async) {
            <div class="tbody flex-column">
                @for(line of lines(); track line.Id) {
                <div class="area-target flex-row flex-center">
                    <i class="fas fa-faucet"></i>
                    <div class="text-content flex-column">
                        <label class="text-bold">{{ line.Codigo }}</label>
                    </div>
                    <div class="btn flex-row">
                        <qx-button type="icon" styleClass="square success-ghost" icon="fas fa-pen" 
                         (onClick)="setFormToUpdateLine(line)"/>
                        <qx-button type="icon" styleClass="square danger-ghost" icon="fas fa-ban"
                            (onClick)="deleteLine(line.Id)" />
                    </div>
                </div>
                }
            </div>
            }
            }
        </div>

        @if(updateForm === true && content === 'areas') {
        <div class="overlay"></div>
        <div class="form form-update flex-column">
            <qx-title-header title="Actualizar área" />
            <div class="form-input flex-column">
                <qx-input type="text" styleClass="square" label="Nombre de la nueva área" [required]="true"
                    [(value)]="areaFormUpdate.Nombre" />
                <qx-input type="text" styleClass="square" label="Descripción del área" [required]="true"
                    [(value)]="areaFormUpdate.Descripcion" />
                <div class="btn-options flex-end">
                    <qx-button type="label-icon" styleClass="square danger-ghost" icon="fas fa-multiply"
                        label="Cancelar" (onClick)="cancelForm()" />
                    <qx-button type="label-icon" styleClass="square success-ghost" icon="fas fa-floppy-disk"
                        label="Guardar" (onClick)="putArea()" />
                </div>
            </div>
        </div>
        }

        @if(updateForm === true && content === 'lineas') {
        <div class="overlay"></div>
        <div class="form form-update flex-column">
            <qx-title-header title="Actualizar línea de agua" />
            <div class="form-input flex-column">
                <qx-input type="text" styleClass="square" label="Código o nombre" [required]="true" [(value)]="lineFormUpdate.Codigo"/>
                <qx-dropdown styleClass="square" label="Área" [options]="optionsAreas()" [(selectedValue)]="lineFormUpdate.Area"/>
                <div class="btn-options flex-end">
                    <qx-button type="label-icon" styleClass="square danger-ghost" icon="fas fa-multiply"
                        label="Cancelar" (onClick)="cancelForm()" />
                    <qx-button type="label-icon" styleClass="square success-ghost" icon="fas fa-floppy-disk"
                        label="Guardar" (onClick)="putLine()" />
                </div>
            </div>
        </div>
        }
    </div>
</div>
}