@import "@Scss/abstract/_placeholder.scss";

.single-content {
    overflow: hidden;

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        background: var(--bg-glass);
        z-index: 900;
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    .form {
        @extend %scrollbar;
        max-width: 410px;
        background: var(--bg-surface);
        border-radius: 5px;
        border: 1px solid var(--color-muted);

        .form-input {
            flex: 1;
            gap: 20px;
            padding: 20px;

            qx-dropdown {
                width: 100%;
                --input-width: calc(100% - 20px);
            }

            .btn-options {
                margin-top: auto;
                background: var(--bg-surface);
            }
        }

        &.form-update {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
        }
    }

    .table {
        @extend %scrollbar;
        flex: 1;
        background: var(--bg-surface);
        border-radius: 5px;
        border: 1px solid var(--color-muted);
        position: relative;

        .tbody {
            flex: 1;
            padding: 20px;

            .area-target {
                height: 60px;
                gap: 20px;
                font-size: 14px;
                border-bottom: 1px solid var(--color-muted);

                .btn {
                    margin-left: auto;
                }

                .text-content {
                    flex: 1;
                    gap: 10px;
                }
            }
        }

        .change-content-btn {
            position: absolute;
            top: 60px;
            right: 20px;
        }
    }
}