@import "@Scss/abstract/_placeholder.scss";

.single-content {
  .kanban-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: var(--bg-surface);
    padding: 10px;
    gap: 5px;

    .title {
      padding: 10px;
      align-items: center;
      height: 40px;
      font-size: 18px;
      gap: 20px;
      color: var(--color-text);
  
      .bar {
        @extend %background-dynamic;
        height: 100%;
        width: 4px;
      }
    }
  
    .kanban-column {
      flex: 1;
      border-radius: 5px;
      gap: 20px;
    }
  }

}
