<div class="alert-container flex-center" [class.show]="hiddenAlert()">
  <div class="alert">

    <div class="alert-header flex-center">
      <label class="text-bold">{{ isType() }}</label>
      @if(status() !== 999 && status() !== 403) {
        <qx-button type="icon" styleClass="rounded dark-ghost" icon="fas fa-close" (onClick)="changeStatus()" />
      }
    </div>

    <div 
      class="alert-line"
      [class.question]="status() === 100"
      [class.success]="status() === 200"
      [class.warning]="status() === 300"
      [class.error]="status() === 400"
      [class.unauthorized]="status() === 403"
    >
    </div>

    <div class="alert-content">
      @if (status() === 999) {
        <div class="alert-content flex-column flex-center">
          <div class="loader flex-center"></div>
          <label>Cargando, espere por favor</label>
        </div>
      } @else {
        <label class="text-light">{{ isText() }}</label>
        <div class="image">
          <img [src]="image()" />
        </div>
      }
    </div>

    <div class="alert-footer flex-end" [class.load]="status() === 999">
      <div 
        class="alert-status flex-center"
        [class.question]="status() === 100"
        [class.success]="status() === 200"
        [class.warning]="status() === 300"
        [class.error]="status() === 400"
        [class.unauthorized]="status() === 403"
        [class.load]="status() === 999"
      >
        Estatus: {{ alert().status }}
      </div>

      @if (status() === 403) {
        <qx-button
          type="label"
          styleClass="square orange-ghost"
          label="cerrar"
          (onClick)="cancel()"
        />
      }

      @if (status() === 100 || status() === 300) {
        <qx-button
          type="label"
          styleClass="square danger-ghost"
          label="Cancelar"
          (onClick)="cancel()"
        />
      }

      @if (status() === 100 || status() === 300) {
        <qx-button
          type="label"
          styleClass="square success-ghost"
          label="Confirmar"
          (onClick)="onConfirm()"
        />
      }
    </div>
  </div>
</div>
