.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: start;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: end;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-page {
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
    color: #A3AED1;
}