@if(meters$ | async) {
<div class="content-page">
    <qx-title-header title="Medidores" />

    <div class="single-content flex-row">
        <div class="list">
            <qx-title-header title="Lista de Medidores" />
            <qx-info
                info="Cada medidor almacena lecturas provenientes de las líneas de agua asignadas a su área. Es fundamental ingresar los valores de forma precisa para garantizar la integridad de los datos." />
            <div class="meter-list">
                @for (meter of meters(); track meter; let i = $index) {
                <div class="meter-item flex-start {{ meter.status }}" (click)="selectMeter(i)">
                    <img src="../../../../assets/png/Gauge.png">
                    <div class="meter-info flex-column">
                        <div class="text-bold">{{ meter.Codigo }}</div>
                        <div class="text-light">{{ meter.Codigo}}</div>
                        <div class="text-light">{{ meter.Tipo }}</div>
                    </div>
                    <qx-badge styleClass="rounded success" text="Habilitado" />
                </div>
                }
                @if(meters().length === 0) {
                <qx-info info="No se encontraron medidores disponibles" />
                }
            </div>
        </div>
        @if(view === 'detail' && selectedMeter() !== null) {
        <div class="content scroll flex-column">
            <qx-title-header title="Detalle" />
            <div class="btn-actions flex-row">
                <qx-button type="label-icon" styleClass="square primary-ghost" icon="fas fa-plus" label="Nuevo"
                    (onClick)="newMeter()" />
                <qx-button type="icon" styleClass="square info-ghost" icon="fas fa-gauge" />
                <qx-button type="icon" styleClass="square success-ghost" icon="fas fa-pen-to-square"
                    (onClick)="editMeter()" />
                <qx-button type="icon" styleClass="square danger-ghost" icon="fas fa-ban" (onClick)="deleteMeter()" />
            </div>
            <div class="meter-detail flex-row">
                <img src="../../../../assets/png/Gauge.png">
                <div class="flex-column">
                    <label class="text-light"><span class="text-bold">Código:</span> {{ selectedMeter()!.Codigo
                        }}</label>
                    <label class="text-light"><span class="text-bold">Tipo:</span> {{ selectedMeter()!.Tipo | titlecase
                        }}</label>
                    <label class="text-light"><span class="text-bold">Ubicación:</span> {{ selectedMeter()!.location
                        }}</label>
                    <qx-badge styleClass="rounded success" text="Habilitado" />
                </div>
            </div>
            <div class="from-to flex-row">
                <qx-select-date label="Desde:" [dateInput]="fromInit"
                    (dateChange)="onFromChange($event)"></qx-select-date>

                <qx-select-date label="Hasta:" [dateInput]="toInit" (dateChange)="onToChange($event)"></qx-select-date>
            </div>

            <canvas baseChart [data]="chartData" [options]="chartOptions" [type]="chartType">
            </canvas>
        </div>
        } @else {
        <div class="content flex-column">
            <qx-title-header [title]="selectedIndex === null ? 'Nuevo medidor' : 'Editar medidor'" />
            <div class="body-content flex-center flex-column">
                <img src="../../../../assets/png/Gauge.png">
                <div class="meter-form flex-center flex-column">
                    <qx-input type="text" styleClass="square" label="Nombre" placeholder="Escribir nombre"
                        [required]="true" [(value)]="meterForm.name" />
                    <qx-input type="text" styleClass="square" label="Número de Serie"
                        placeholder="Escribir número de serie" [required]="true" [(value)]="meterForm.serialNumber" />
                    <qx-dropdown styleClass="square" label="Tipo de medidor" [options]="meterTypes" [required]="true"
                        [(selectedValue)]="meterForm.type" />
                    <qx-dropdown styleClass="square" label="Área" [options]="meterTypes" [required]="true" />
                    <qx-dropdown styleClass="square" label="Línea de agua" [options]="meterTypes" [required]="true" />
                </div>
            </div>
            <div class="content-actions flex-row flex-end">
                <qx-button class="cancel" type="label-icon" styleClass="square danger-ghost" icon="fas fa-xmark"
                    label="Cancelar" (onClick)="resetForm()" />
                <qx-button class="save" type="label-icon" styleClass="square success-ghost" icon="fas fa-floppy-disk"
                    label="Guardar" [disabled]="!isFormValid()" (onClick)="saveMeter()" />
            </div>
        </div>
        }
    </div>
</div>
}