@import "@Scss/abstract/_placeholder.scss";
@import "@Scss/abstract/_palette.scss";

.single-content {
    overflow: hidden;
    .list {
        flex: 1;
        background: var(--bg-surface);
        border: 1px solid var(--color-muted);
        border-radius: 5px;

        @extend %scrollbar;

        .meter-list {
            .meter-item {
                font-size: 14px;
                height: 40px;
                gap: 20px;
                padding: 20px;
                border-bottom: 1px solid var(--color-muted);

                i {
                    font-size: 25px;
                }

                &:hover {
                    background: var(--color-muted);
                }

                qx-badge {
                    margin-left: auto;
                }

                &.false {
                    background: $bg-danger;
                    color: $danger;
                }
            }
        }
    }

    .content {
        flex: 1;
        border: 1px solid var(--color-muted);
        border-radius: 5px;
        position: relative;
        .btn-actions {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        canvas {
            flex: 1;
        }
    }


    .content,
    .content-empty {
        flex: 1;
        min-height: 350px;
        background: var(--bg-surface);
    }

    .meter-detail {
        padding: 20px;
        gap: 20px;
        i {
            font-size: 100px;
            padding: 20px;
        }

        .flex-column {
            gap: 10px;
        }        
    }
    .from-to {
        flex: 1;
        gap: 20px;
        padding: 0 20px;

        qx-select-date {
            width: 100%;
        }
    }
    
    .body-content {
        flex: 1;
        gap: 20px;
        padding: 0 20px;
        
        i {
            font-size: 100px;
        }

        .meter-form {
            @extend %scrollbar;
            
            gap: 20px;
        }
    }

    .content-actions {
        flex: 1;
        padding: 0 20px;
    }

    .content-empty {
        flex: 1;
        color: var(--color-muted);
    }
}

@media (max-width: 900px) {
    .single-content {
        flex-direction: column;

        .list {
            min-width: 100%;
            max-width: 100%;
            border-right: none;
            border-bottom: 1px solid var(--color-muted);
        }

        .content,
        .content-empty {
            min-height: 300px;
        }
    }
}