<div class="user-card flex-between">
    <i class="fas fa-circle-user"></i>
    <div class="user-info flex-column text-line">
        <label class="text-bold">{{ concatUsername(user()) }}</label>
        <label class="text-light">{{ user().Correo }}</label>
        <label class="text-light matricula">{{ user().Matricula }}</label>
        <label class="text-light">{{ user().Rol }}</label>
    </div>
    <!-- <qx-button type="icon" [styleClass]="buttonStyle()" icon="fas fa-gear"></qx-button> -->
</div>