@import "@Scss/abstract/_placeholder.scss";

.container {
    width: 100%;
    height: calc(100% - 100px);
    background: var(--bg-surface);
    border-radius: 5px;
    border: 1px solid var(--color-muted);
    overflow: hidden;
    display: flex;

    .list {
        width: 400px;
        max-width: 420px;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: var(--bg-surface);
        border-right: 1px solid var(--color-muted);

        .meter-list {
            @extend %scrollbar;
            flex: 1;

            .meter-item {
                height: 60px;
                gap: 20px;
                padding: 20px;
                border-bottom: 1px solid var(--color-muted);

                i {
                    font-size: 25spx;
                }

                &:hover {
                    background: var(--color-muted);
                }
                
            }
        }
    }

    .content {
        position: relative;

        .btn-actions {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }


    .content,
    .content-empty {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-height: 350px;
        background: var(--bg-surface);
    }

    .meter-detail {
        padding: 24px 18px 0 18px;
        flex: 0 0 auto;

        .detail-row {
            margin-bottom: 10px;
            font-size: 1.08rem;

            b {
                color: var(--primary);
            }
        }
    }

    .body-content {
        flex: 1;
        gap: 20px;
        padding: 24px 20px 0 20px;
        
        i {
            font-size: 100px;
        }

        .meter-form {
            @extend %scrollbar;
            flex: 1;
            gap: 20px;
        }
    }

    .content-actions {
        margin-top: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 14px;
        padding: 0 18px 20px 18px;
    }

    .content-empty {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-muted);
        font-size: 1.1rem;
        min-height: 350px;
    }
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;

        .list {
            min-width: 100%;
            max-width: 100%;
            border-right: none;
            border-bottom: 1px solid var(--color-muted);
        }

        .content,
        .content-empty {
            min-height: 300px;
        }
    }
}