<div class="module-card flex-start" [class.des]="module().Status !== true">
    <!-- <i class="fas fa-{{ module().Icon }} {{ accentColor() }}"></i> -->
    <i class="fas fa-cube {{ accentColor() }}"></i>
    <label class="text-light">{{module().Nombre}}</label>
    @if(module().Status === true && status() === false) {
    <qx-badge text="Habilitado" styleClass="rounded success" />
    } @else if(module().Status === false && status() === false) {
    <qx-badge text="Deshabilitado" styleClass="rounded danger" />
    }
    @if(module().Status === true && status() === true) {
    <i class="fas fa-circle success"></i>
    } @else if(module().Status === false && status() === true) {
    <i class="fas fa-circle danger"></i>
    }
</div>