<div class="module-card flex-start" [class.des]="module().status !== true">
    <i class="fas fa-{{ module().icon }} {{ accentColor() }}"></i>
    <label class="text-light">{{module().module}}</label>
    @if(module().status === true && status() === false) {
    <qx-badge text="Habilitado" styleClass="rounded success" />
    } @else if(module().status === false && status() === false) {
    <qx-badge text="Deshabilitado" styleClass="rounded danger" />
    }
    @if(module().status === true && status() === true) {
    <i class="fas fa-circle success"></i>
    } @else if(module().status === false && status() === true) {
    <i class="fas fa-circle danger"></i>
    }
</div>