<div id="overlay" [class]="status()" (click)="changeStatus()"></div>
<div id="menu" [class]="'flex-column ' + status()">
    <div class="header flex-center flex-column">
        <label>QubeFlex</label>
        <label class="subtitle">Droply</label>
    </div>
    <div class="body flex-column">
        @switch(template()) {
            @case ('classic') {
                @for(section of sections; track section.id) {
                    <div class="section flex-column">
                        <qx-menu-section-label [label]="section.section"/>
                        
                        <!-- Submenu -->
                        @if(section.submenus) {
                            <qx-menu-submenu [submenu]="section.submenus" [sectionIndex]="section.id"/>
                        }
                        
                        <!-- Pages -->
                        @if(section.pages) {
                            @for(page of section.pages; track page.id) {
                                <qx-menu-card [icon]="page.icon" [label]="page.label" [path]="page.path"/>
                            }
                        }
                    </div>
                }
            }
        }
    </div>
    <div class="button-closed flex-end">
        <qx-button type="label-icon" styleClass="dark" icon="fas fa-multiply" label="Cerrar menú" (onClick)="changeStatus()"/>
    </div>
</div>