<div class="landing-container flex-center" [class.none]="status">
    <div class="single-content flex-center">
        <div class="target">
            <img src="../../../../assets/images/QubeFlex.png">
            <div class="text">
                <p>
                    <img src="../../../../assets/images/cubo.png" class="highlight-icon">
                    ¡Bienvenido a <span class="highlight">QubeFlex</span>! QubeFlex es un Portal de <span class="highlight">Servicios Empresariales</span> desarrollado por <span class="highlight">Oppen</span>,
                    diseñado para optimizar la <span class="highlight">gestión de negocios</span> mediante soluciones tecnológicas eficientes.
                </p>              
                <p>
                    Droply es un servicio que ofrece QubeFlex  diseñado para la administración eficiente,
                    optimizando la gestión de consumo de agua industrial.
                </p>
                <label class="demo">
                    <i class="fas fa-tag fa-flip"></i>
                    Estás explorando la versión más actual del sistema
                </label>
            </div>
        </div>
    </div>
</div>