@import "@Scss/abstract/_placeholder.scss";

.user-rol-tabs {
  max-width: 400px;
  .tabs {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4px;
  }
  .tab-btn {
    display: inline-block;
    padding: 8px 20px;
    background: var(--bg-surface);
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    font-weight: 500;
    transition: var(--transition);
    outline: none;
    position: relative;
    user-select: none;
    border: none;

    &.active {
      background: var(--accent-color);
      color: var(--light);
    }

    &:not(.active):hover {
      background: var(--color-muted);
    }
  }

  .list {
    min-height: 500px;
  }
}
