<div class="content-page">
  <qx-title-header title="General" />
  <div class="container flex-column">
    <qx-title-header title="Progreso de actividades" />
    <div class="date-options flex-row">
      <qx-select-date label="Desde:" [dateInput]="from()"/>
      <qx-select-date label="Hasta:" [dateInput]="to()"/>
      <qx-button type="label-icon" [styleClass]="buttonStyle()" icon="fas fa-calendar" label="Aplicar" (onClick)="sendDate()"/>
    </div>
    <div class="progress-content flex-column">
      @for (task of progress.tasks; track task._id) {
      <div class="progress-target flex-column">
        <div class="title flex-row">
          <i class="fas fa-chart-line"></i>
          <label class="text-bold">{{task.status}}</label>
        </div>
        <div class="progress-bar flex-row">
          <progress [class]="getStatusColor(task.status)" [value]="task.tasks.length" [max]="progress.total"></progress>
          <small class="text-light">{{task.tasks.length}} en total</small>
        </div>
      </div>
      }
    </div>
  </div>
</div>