@if(progress$ | async) {
<div class="content-page">
  <qx-title-header title="General" />
  <div class="container flex-column">
    <qx-title-header title="Progreso de actividades" />
    <div class="date-options flex-row">
      <!-- <qx-select-date label="Desde:" [dateInput]="from()" /> -->
      <!-- <qx-select-date label="Hasta:" [dateInput]="to()" /> -->
      <!-- <qx-button type="label-icon" [styleClass]="buttonStyle()" icon="fas fa-calendar" label="Aplicar" -->
      <!-- (onClick)="sendDate()" /> -->
    </div>
    <div class="progress-content flex-column">
      @for (task of progress(); track task.Estado) {
      <div class="progress-target flex-column">
        <div class="title flex-row">
          <i class="fas fa-chart-line"></i>
          <label class="text-bold">{{task.Estado}}</label>
        </div>
        <div class="progress-bar flex-row">
          <progress [class]="getStatusColor(task.Estado)" [value]="task.Actividades.length"
            [max]="totalProgress()"></progress>
          <small class="text-light">{{task.Actividades.length}} en total</small>
        </div>
      </div>
      }
      <qx-info
        info="Esta sección muestra un resumen del progreso de las actividades registradas en el sistema, agrupadas por su estado actual.  
        Cada barra representa la cantidad de actividades en un estado específico, en comparación con el total de actividades activas.

        Puedes visualizar el avance general para tener una idea rápida del cumplimiento de las tareas y objetivos programados.

        Esta información es especialmente útil para supervisores, responsables de área y personal administrativo que requiere un seguimiento eficiente del progreso." />

    </div>
  </div>
</div>
}